@import "tailwindcss";

body {
  background: var(--color-white);
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
  box-sizing: border-box;
  font-family: var(--font-magtis);
}

@utility banner-text-responsive {
  @apply text-4xl sm:text-5xl lg:text-6xl;
}

/* Magtis */

@font-face{
  font-family: "Magtis";
  src: url("public/fonts/otf/Magtis-ExtraBold.otf");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #b67c35;
  --color-button-color: #b67c35;
  --color-secondary: #E26796;
  --color-paper: #D9D9D9;
  --font-magtis: "Magtis", "sans-serif";
}
